.container {
    margin-top: 20px;
  }
  
  /* Style the right sidebar */
  .col-md-4 {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
  }
  .btn-primary{
    width: max-content;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 20px;
}
.custom-toast-container {
  background-color: blue; /* Set the background color to blue */
  color: white; /* Set text color to white for better contrast */
}